<div class="item-menu">
  <div class="item-stat-menu">
    Ships: {{sortedShips.length}}
  </div>

  {{#if session.current_user.permission.ship_list_filter}}
    <div class="toolbar">
      {{#if session.current_user.can_modify_ship}}
        <button type="button" class="tb tb-default" {{action "addShip" player}}> <i class="fa fa-plus" ></i> Ship</button>
      {{/if}}
    </div>
  {{/if}}
</div>

<div class="item-list">
  {{#if sortedShips.length}}
    {{#ember-collection items=sortedShips cell-layout=(percentage-columns-layout sortedShips.length columns itemHeight) as |ship index|}}
      {{ship-details ship=ship details=details onConfirm=(action "showConfirm") onEdit=(action "showEdit")}}
    {{/ember-collection}}
  {{else}}
    {{#if loading}}
      <div class="loader-screen">
        <div class="loader-box">
          <div class="loader-text">
            <i class="loader-spinner fa fa-download fa-pulse"></i>
          </div>
        </div>
      </div>
    {{/if}}
  {{/if}}
</div>

{{#if showShipDialog}}
  {{ship-create ship=currShip showDialog=showShipDialog}}
{{/if}}

{{#if showConfirmDialog}}
  {{confirm-dialog showDialog=showConfirmDialog msg=msg onConfirm=(action "onConfirmed")}}
{{/if}}
