{{#if showDialog}}
{{#bs-modal open=showDialog size='sm' header=false body=false footer=false autoClose=false onHide=(action 'close') as |md|}}
  {{#md.header}}
    <h4 class="modal-title">
      {{msg.title}}
    </h4>
  {{/md.header}}
  {{#md.body}}

<div class="loader-screen" style="min-height: 175px;">
  {{#if msg.item.isSaving}}
    <div class="content-box content-box-big">
      {{#if (eq msg.type "delete")}}
        <div class="text-danger">
          <i class="loader-spinner fa fa-trash-o fa-pulse"></i>
        </div>
      {{else}}
        <div class="loader-text">
          <button class="btn loader-spinner btn-only-trans fa fa-gear fa-spin"></button>
          <i class="loader-spinner fa fa-download fa-pulse"></i>
        </div>
      {{/if}}
    </div>
  {{else}}
    <div class="content-box">
      {{msg.content}}
      {{#if (eq msg.type "discard")}}
        {{#if changelist.length}}
        <div class="row">
          <div class="col-md-2">
          </div>
          <div class="col-md-8 text-left">
            Changes: {{changelist.length}}
          </div>
          <div class="col-md-2">
          </div>
        </div>
        {{#each changelist as |at|}}
          <div class="row">
            <div class="col-md-2">
            </div>
            <div class="col-md-8 text-left">
            <span class="text-danger">{{at.name}}</span> changed from '{{at.was}}' to '{{at.is}}'<br>
            </div>
            <div class="col-md-2">
            </div>
          </div>
        {{/each}}
        {{/if}}
      {{/if}}
    </div>
  {{/if}}
</div>

  {{/md.body}}
  {{#md.footer}}
    <button type="button" class="btn btn-default" {{action "close"}} disabled={{msg.item.isSaving}}>Abort</button>
    {{#if (eq msg.type "delete")}}
      <button type="submit" class="btn btn-danger" {{action "submitConfirm"}} disabled={{msg.item.isSaving}}> Do it!</button>
    {{else}}
      {{#if (eq msg.type "discard")}}
        <button type="submit" class="btn btn-danger" {{action "submitConfirm"}} disabled={{msg.item.isSaving}}> Discard</button>
      {{else}}
        <button type="submit" class="btn btn-primary" {{action "submitConfirm"}} disabled={{msg.item.isSaving}}> Ok</button>
      {{/if}}
    {{/if}}
  {{/md.footer}}
{{/bs-modal}}

{{/if}}
