{{#if session.current_user.permission.unit_read}}
  <div id="units">
    <div class="panel panel-default pilot-panel">
      {{#if (eq currentUnit.id '1')}}
        {{unit-tree unit=currentUnit level=1}}
      {{else}}
        {{unit-tree unit=currentUnit level=5}}
      {{/if}}
    </div>
  </div>

  <div id="chart">
    {{org-chart units=model currFilter=currentChart.id}}
  </div>

  <div id="info">
    {{#if session.current_user.permission.unit_assign}}
      <div class="toolbar">
        <button type="button" class="tb tb-default" {{action (toggle this "showPlayers")}}> <i class="fa fa-eye" ></i> {{if showPlayers "Fleet" "Players"}}</button>
      </div>

      <div class="info-stats">
        {{#if currentUnit}}
          Players: {{sumPlayers.length}}
          Ships: {{sumShips.length}}
          {{check-box value=countChildren desc="Children"}}
        {{/if}}
      </div>
    {{/if}}


    <div class="info-content">
      {{#if (and (not showPlayers) currentUnit)}}
        {{#ember-collection items=sumShips cell-layout=(percentage-columns-layout sumShips.length columns itemHeight) as |group index|}}
          {{ship-model-details ship_model=group.model details=false count=group.count}}
          {{ship.ship_model}}
        {{/ember-collection}}
      {{/if}}

      {{#if (and session.current_user.permission.unit_assign showPlayers)}}
        {{player-list players=players draggable=true details=false}}
      {{/if}}
    </div>
  </div>

  {{outlet}}

{{else}}
  {{partial 'application/permission-denied'}}
{{/if}}
