<div class="item-filtered-list">
  <div class="item-menu">
  <span style="padding-right:4px; padding-left:12px;"> View: </span>
    <button type="button" class={{if listView "tb tb-filter" "tb tb-filter tb-selected"}} {{action 'setListView' false}}> {{fa-icon "th"}}  </button>
    <button type="button" class={{if listView "tb tb-filter tb-selected" "tb tb-filter"}} {{action 'setListView' true}}> {{fa-icon "list"}}  </button>

    <div class="item-stat-menu">
      Models: {{ship_models.length}}
    </div>

    {{#if session.current_user.permission.ship_model_create}}
      <div class="toolbar">
        <button type="button" class="tb tb-default" {{action "addModel"}}> <i class="fa fa-plus" ></i> Model</button>
      </div>
    {{/if}}
  </div>

  <div tabindex="0" class="item-list">
    {{#each manufacturers as |manufacturer|}}
      <div class="ship-manu">
        <img class="ship-manu-img" src="{{session.rootURL}}/images/manufacturers/{{manufacturer.name}}.png">
        <span class="ship-manu-name">
          {{manufacturer.name}} [ {{manufacturer.ships.length}} ]
        </span>
      </div>

      <div class="row def-table-header">
        {{#if listView}}
            <div class="col-md-2">
            </div>
            <div class="col-md-2">
              Name
            </div>
            <div class="col-md-2">
              Class
            </div>
            <div class="col-md-1 text-right">
              Crew
            </div>
            <div class="col-md-2 text-right">
              Length [m]
            </div>
            <div class="col-md-2 text-right">
              Mass [Kg]
            </div>
            <div class="col-md-1">
            </div>
          {{/if}}
        </div>

        <div class="ship-list" style={{get-height manufacturer.height}}>
        {{#ember-collection items=manufacturer.ships cell-layout=(percentage-columns-layout manufacturer.ships.length columns itemHeight) as |model index|}}
          {{ship-model-details ship_model=model listView=listView tb=true onConfirm=(action "showConfirm") onEdit=(action "showEdit")}}
        {{/ember-collection}}
      </div>
    {{/each}}
  </div>

  {{#if showModelDialog}}
    {{ship-model-create ship_model=currModel showDialog=showModelDialog onConfirm=(action "showConfirm")}}
  {{/if}}

  {{#if showConfirmDialog}}
    {{confirm-dialog showDialog=showConfirmDialog msg=msg onConfirm=(action "onConfirmed")}}
  {{/if}}
</div>
