{{#if (and tb session.current_user.permission.ship_model_edit)}}
  <div class="toolbar">
    {{#if count}}
      <div class="text-default">{{count}}x</div>
    {{else}}
      {{#if session.current_user.permission.ship_model_edit}}
        <button class="tb tb-default" type="button" {{action 'editModel' ship_model}}><i class="fa fa-gear"></i></button>
      {{/if}}
      {{#if session.current_user.permission.ship_model_delete}}
        <button class="tb tb-danger" type="button" {{action 'deleteModel' ship_model}}><i class="fa fa-close"></i></button>
      {{/if}}
    {{/if}}
  </div>
{{/if}}

<div class={{if count "top-left-sm" "top-left"}}>
  <img class="top-left-img" src="{{session.rootURL}}/images/manufacturers/{{ship_model.manufacturer}}.png">
  <span class="item-name">
    {{ship_model.name}}
  </span>
</div>

{{#if ship_model.img}}
  <img class="item-img" src={{ship_model.img}}>
{{else}}
  <img class="item-img" src="{{session.rootURL}}/images/manufacturers/{{ship_model.manufacturer}}.png">
{{/if}}


{{#unless count}}
  <div class="bottom-right">
    <div class="bottom-right-text">
      c: <span class="item-stat">{{ship_model.crew}}</span>
      <span class="item-sep">|</span>
      l: <span class="item-stat">{{ship_model.length}}</span>
      <span class="item-sep">|</span>
      m: <span class="item-stat">{{ship_model.mass}}</span>
    </div>
  </div>
{{/unless}}
