{{#bs-dropdown as |dd|}}
  {{#dd.button}}
    {{#if session.current_user.player.avatar}}
      <img class="" style="width:16px;height:16px;" src={{session.current_user.player.avatar}} />
    {{else}}
      <i class="fa fa-user"></i>
    {{/if}}
    {{session.current_user.player.name}}
  {{/dd.button}}
  {{#dd.menu}}
    {{#if session.current_user.permission.player_read}}
      <li>
        {{#link-to 'players.player' session.current_user.player.id}}
        <i class="fa fa-user"></i> Profile
        {{/link-to}}
      </li>
    {{/if}}

      <li>
        {{#link-to 'users.user' session.current_user.id}}
        <i class="fa fa-gear"></i> User Settings
        {{/link-to}}
      </li>

    <li>
      <a href="#" style="margin-left: -8px;">
        {{check-box value=showBG desc="Fancy"}}
      </a>
    </li>

    <li>
      <a href="#" class="text-danger" {{action "logout"}}>
        <i class="fa fa-sign-out text-danger"></i> Logout
      </a>
    </li>

  {{/dd.menu}}
{{/bs-dropdown}}
