<div class="players">
  <div class="panel panel-default panel-player-filter">

    <div class="panel-body">
      <div class="col-md-12">
        Name / Email
        <div class="input-group">
          {{input type="text" class="form-control" value=searchFilter}}
          <span class="input-group-btn">
            <button class="btn btn-default" type="button"  {{action 'clearFilter'}}><i class="fa fa-eraser"></i></button>
          </span>
        </div>
      </div>

      <div class="col-md-12">
        <div class="filter-stats">
          Users: {{filteredContent.length}} / {{model.length}} 
        </div>
      </div>

    </div>
  </div>

  <div class="panel panel-player-list">
    <div class="player-list-header">
     
      <div class="col-md-3">
        Name
      </div>
      <div class="col-md-4">
        Email
      </div>
      <div class="col-md-4">
        Player
      </div>
      <div class="col-md-1 text-right">
        Active
      </div>
      
    </div>
    <div class="player-list-result">
      {{#each filteredContent as |user|}}
        {{#link-to "users.user" user.id tagName='div' class='row row-select'}}
        <div class="col-md-3">
          {{user.name}}
        </div>

        <div class="col-md-4">
          {{user.email}}
        </div>

        <div class="col-md-4">
          {{user.player.name}}
        </div>

        <div class="col-md-1 text-right">
          {{#if user.permission.active}}
            <div class="text-success">
              {{fa-icon "check"}}
            </div>
          {{else}}
            <div class="text-danger">
              {{fa-icon "times"}}
            </div>
          {{/if}}
        </div>
        {{/link-to}}
      {{/each}}
    </div>
  </div>
</div>

{{outlet}}
