{{#if (and tb session.current_user.permission.item_tb)}}
  <div class="toolbar">
    {{#if session.current_user.permission.item_edit}}
      <button class="tb tb-default" type="button" {{action 'editItem' item}}><i class="fa fa-gear"></i></button>
    {{/if}}
    {{#if session.current_user.permission.item_delete}}
      <button class="tb tb-danger" type="button" {{action 'deleteItem' item}}><i class="fa fa-close"></i></button>
    {{/if}}
  </div>
{{/if}}

<div class="top-left">
    {{#if item.template.category.img}}
      <img class="top-left-img" src={{item.template.category.img}}>
    {{/if}}

    {{!--
    {{#if item.player.avatar}}
      <img class="top-left-img" src={{item.player.avatar}}>
    {{else}}
    {{/if}}
    --}}

    <span class="top-left-name">
      {{item.name}}
    </span>
</div>

{{#if item.img}}
  <img class="item-img" src={{item.img}}>
{{else}}
  {{#if item.template.img}}
    <img class="item-img" src={{item.template.img}}>
  {{/if}}
{{/if}}

<div class="bottom-left">

  <div class="bottom-left-text">
    {{#if item.player.avatar}}
      <img class="top-left-img" src={{item.player.avatar}}>
    {{else}}
      <i class="fa fa-user-o"></i>
    {{/if}}

    {{item.player.name}}
  </div>
</div>

{{!--
<div class={{if count "top-left-sm" "top-left"}}>
    {{#if item.category.img}}
      {{#if item.category.img}}
        <img class="top-left-img" src={{item.category.img}}>
      {{/if}}
    {{/if}}

      {{#if item.player.avatar}}
        <img class="top-left-img" src={{item.player.avatar}}>
      {{else}}
        {{#if item.template.category.img}}
          <img class="top-left-img" src={{item.template.category.img}}>
        {{/if}}
      {{/if}}

    <span class="item-name">
      {{#if item.name}}
        {{item.name}}
      {{else}}
        {{item.template.name}}
      {{/if}}
    </span>

    {{#if item.player.name}}
      <span class="top-left-name" "item-name">
        {{item.player.name}}
      </span>
    {{/if}}
</div>
--}}

