{{#if showDialog}}

{{#bs-modal open=showDialog size='l' header=false body=false footer=false autoClose=false onHide=(action 'close') class="item-create" as |md|}}
  {{#md.header}}
    <h4 class="modal-title">
      {{#if item.isNew}} Create {{else}} Edit {{/if}}
      Item {{item.template.name}}
    </h4>
  {{/md.header}}
  {{#md.body}}


  <div class="row">
      {{#if item.isNew}}
        <label class="control-label">
          Type
          {{#unless item.template}}
          <span class="text-danger">(required)</span>
          {{/unless}}
        </label>
        <div class="input-group ship-model-modal">
          <input type="text" class="form-control" value={{item.template.name}} readonly>
          <div class="input-group-btn">
            {{#bs-dropdown as |dd|}}
              {{#dd.button}}<span class="caret"></span>{{/dd.button}}
              {{#dd.menu align="right"}}
                {{#each categories as |cat|}}
                    <li class="ship-manu">
                     {{#if cat.img}}
                        <img class="manu-img" src={{cat.img}}>
                      {{/if}}
                      {{cat.name}}
                    </li>
                    {{#each cat.templates as |temp|}}
                      <li {{action "setTemplate" temp}}><a href="#" >{{temp.name}}</a></li>
                    {{/each}}
                {{/each}}
              {{/dd.menu}}
            {{/bs-dropdown}}
          </div>
        </div>

    <br>
      {{/if}}
  </div>


    <div class="row">
      <label class="control-label">Item Name</label>
      {{#if item.errors.name.length}}
        <span class="text-danger">
        {{#each item.errors.name as |err|}}{{err.message}}{{/each}}
        </span>
      {{/if}}
      {{input type="text" class="form-control" id="itemParentName" value=item.name placeholder=item.template.name}}
    </div>

    <div class="row">
      <label class="control-label">Image</label>
      {{#if item.errors.img.length}}
        <span class="text-danger">
        {{#each item.errors.img as |err|}}{{err.message}}{{/each}}
        </span>
      {{/if}}

      {{input type="text" class="form-control" id="itemImg" value=item.img placeholder=item.template.img}}
    </div>


    <hr>

    <div class="row">
      {{#if session.current_user.permission.player_edit}}
        <label class="control-label">Owner</label>
        <div class="row">
          <div class="col-md-5">
            {{#if item.player}}
              {{player-details player=item.player details=false}}
            {{/if}}
          </div>
          <div class="col-md-1">
          </div>
          <div class="col-md-6 mem-sel">
            {{player-select onConfirm=(action "changeOwner") actionName="Change"}}
          </div>
        </div>
      {{/if}}
    </div>

    <hr><br>

    <div class="row">
      {{#if session.current_user.can_modify_item}}
        {{#if item.unit}}
            Item is assigned to Unit: {{item.unit.name}}
            <button class="tb txt-red" type="button" {{action 'unassignFromUnit' item.unit.id}}><i class="fa fa-close"></i></button>
        {{else}}
            {{unit-select onConfirm=(action "assignToUnit") actionName="Assign to Unit"}}
        {{/if}}
      {{/if}}
    </div>

    <hr>

<!--     <div class="row"  style="height: 30%;"> -->
      <div class="col-md-6" style="height: 30%;">
        <br>
        <div class="item-img-box">

          {{#if item.img}}
              {{item-details item=item details=false tb=false}}
          {{else}}
            {{#if item.template}}
              {{item-details item=item.template details=false tb=false}}
            {{/if}}
          {{/if}}
        </div>
      </div>
      <div class="col-md-6 checklist">

        <div class="row">
          <div class="col-md-4">
          </div>
          <div class="col-md-2">
            {{check-box value=item.hidden iconSize="fa-2x"}}
          </div>
          <div class="col-md-6">
            <label class="control-label">Hidden</label>
          </div>
        </div>
        {{!--
        <div class="row">
          <div class="col-md-4">
          </div>
          <div class="col-md-8">
          </div>
        </div>
        --}}
      </div>


  {{/md.body}}
  {{#md.footer}}
    {{#if session.current_user.permission.item_edit}}
      <button type="submit" class="btn btn-primary" {{action "saveItem"}} disabled={{cannotSave}} >  
        {{fa-icon "save"}} Save
      </button>
    {{/if}}
    <button type="button" class="btn btn-default" {{action "close"}}>{{fa-icon "close"}} Close</button>

  {{/md.footer}}
{{/bs-modal}}


{{/if}}

