{{#if (and tb (or session.current_user.permission.ship_tb (eq session.current_user.player.id ship.player.id)))}}
  <div class="toolbar">
    {{#if (or session.current_user.permission.ship_edit
       (eq session.current_user.player.id ship.player.id))}}
      <button class="tb tb-default" type="button" {{action 'editShip' ship}}><i class="fa fa-gear"></i></button>
    {{/if}}
    {{#if (or session.current_user.permission.ship_delete
       (eq session.current_user.player.id ship.player.id))}}
      <button class="tb tb-danger" type="button" {{action 'deleteShip' ship}}><i class="fa fa-close"></i></button>
    {{/if}}
  </div>
{{/if}}

<div class="top-left">
  {{#if ship.ship_model}}
    <img class="top-left-img" src="images/manufacturers/{{ship.ship_model.manufacturer}}.png">
  {{/if}}

  <span class="top-left-name">
    {{ship.name}}
    {{#if (not ship.unit_id)}}
      <i class="fa fa-square-o"></i>
    {{else}}
      <i class="fa fa-check-square-o"></i>
    {{/if}}
  </span>
</div>

{{#if ship.img}}
  <img class="item-img" src={{ship.img}}>
{{else}}
  {{#if ship.ship_model.img}}
    <img class="item-img" src={{ship.ship_model.img}}>
  {{/if}}
{{/if}}

<div class="bottom-left">

  <div class="bottom-left-text">
    {{#if ship.player.avatar}}
      <img class="top-left-img" src={{ship.player.avatar}}>
    {{else}}
      <i class="fa fa-user-o"></i>
    {{/if}}

    {{ship.player.name}}
  </div>
</div>
