<button type="button" class="btn-check">
  {{#if value}}
  <i class="fa fa-check-square-o {{iconSize}}"></i>
  {{else}}
    <i class="fa fa-square-o {{iconSize}}"></i>
  {{/if}}
</button> {{desc}}



{{!--
          <i class={{if session.current_user.permission.settings "fa fa-user" "fa fa-user"}}></i> {{session.current_user.name}}
    <i class={{if bigIcon "fa fa-check-square-o fa-2x" "fa fa-check-square-o"}}></i>
     fa-2x
--}}
