<div class={{classlist}} {{action 'editShip' ship}}>
{{#if listView}}
  {{#if compact}}
    <div class="col-md-4 text-center">
      {{#if ship.img}}
        <img class="item-img-sm" src={{ship.img}}>
      {{else}}
        <img class="item-img-sm" src="{{session.rootURL}}/images/manufacturers/{{ship.ship_model.manufacturer}}.png">
      {{/if}}
    </div>
    <div class="col-md-4">
      {{ship.name}}
    </div>
    <div class="col-md-4">
      {{ship.player.name}}
    </div>

  {{else}}
    <div class="col-md-2 text-center">
      {{#if ship.img}}
        <img class="item-img-sm" src={{ship.img}}>
      {{else}}
        <img class="item-img-sm" src="{{session.rootURL}}/images/manufacturers/{{ship.ship_model.manufacturer}}.png">
      {{/if}}
    </div>
    <div class="col-md-2">
      {{ship.name}}
    </div>
    <div class="col-md-2">
      {{ship.player.name}}
    </div>
    <div class="col-md-2">
      {{ship.unit.name}}
    </div>
    <div class="col-md-1 text-right text-success">
      {{#if ship.available}}
        <i class="fa fa-check"></i>
      {{/if}}
    </div>
    <div class="col-md-2 text-right">
    </div>
    <div class="col-md-1">
    </div>
  {{/if}}
{{else}}

<div class="top-left">
  {{#if ship.ship_model}}
    <img class="top-left-img" src="{{session.rootURL}}/images/manufacturers/{{ship.ship_model.manufacturer}}.png">
    <span class="item-name">
      {{ship.name}}
    </span>
  {{/if}}

</div>

{{#if ship.img}}
  <img class="item-img" src={{ship.img}}>
{{else}}
  {{#if ship.ship_model.img}}
    <img class="item-img" src={{ship.ship_model.img}}>
  {{/if}}
{{/if}}

<div class="bottom-left">
<!--   <div class="bottom-left-img"> -->
    {{#if ship.player.avatar}}
    <img class="top-left-img" src={{ship.player.avatar}}>
    {{else}}
    <i class="fa fa-user-o"></i>
    {{/if}}
<!--   </div> -->

  <span class="bottom-left-text">
    {{ship.player.name}}
  </span>
</div>

{{#if ship.unit}}
<div class="bottom-right hl0" style={{unitStyle}}>
      <div class="bottom-right-text">
        {{ship.unit.name}}
      </div>
    </div>
{{else}}
  {{#if ship.available}}
    <div class="bottom-right hl1">
      <div class="bottom-right-text">
        Available
      </div>
    </div>
  {{/if}}
{{/if}}

{{/if}}

</div>
